<div id="article-form">
  <input type="button" value="Toggle Preview" onclick="togglePreview()">
  <%= form_with model: article, id: "content-form" do |form| %>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: "article-title-input" %><br>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <%= form.label :body %><br>
    <%= form.text_area :body, class: "article-body", id: "article-body-input" %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <%= form.label :visibility %>
    <%= form.check_box :visibility, class: "article-check-box", id: "article-check-box" %><br>
    <% article.errors.full_messages_for(:visibility).each do |message| %>
      <div><%= message %></div>
    <% end %><br>
    <%= form.submit %>
  <% end %>
  <div id="content">
    <h3>Preview</h3>
    <h2 id="article-title"></h2>
    <p id="article-body"></p>
  </div>
  <script>
    function togglePreview(){
      let form = document.getElementById("content-form")
      let preview = document.getElementById("content")
      if (!form.style.display && !preview.style.display) {
        form.style.display = "block"
        preview.style.display= "none"
      }
      form.style.display = preview.style.display
      preview.style.display = form.style.display == "block" ? "none" : "block"
    }

    function updatePreview(){
      let bodyInput = document.getElementById("article-body-input")
      let titleInput = document.getElementById("article-title-input")
      let bodyPreview = document.getElementById("article-body")
      let titlePreview = document.getElementById("article-title")

      let content = ""
      let mode = ""
      for (let i of bodyInput.value.split("\n")) {
        if (i.startsWith("```")) {
          i = i.slice(3)
          if (mode == "raw_html") {
            mode = ""
          }
          else {
            mode = "raw_html"
          }
        }
        if (mode == "raw_html") {
          content += i
        } else {
          if (i.startsWith("######"))
            content += `<h6>${i.slice(6)}</h6>`
          else if (i.startsWith("#####"))
            content += `<h5>${i.slice(5)}</h5>`
          else if (i.startsWith("####"))
            content += `<h4>${i.slice(4)}</h4>`
          else if (i.startsWith("###"))
            content += `<h3>${i.slice(3)}</h3>`
          else if (i.startsWith("##"))
            content += `<h2>${i.slice(2)}</h2>`
          else if (i.startsWith("#"))
            content += `<h1>${i.slice(1)}</h1>`
          else if (i.startsWith("*"))
            content += `<ul><li>${i.slice(1)}</li></ul>`
          else if (i.startsWith("_"))
            content += `<p>${i.slice(1)}</p><div class="border"></div>`
          else if (i == "")
            content += "<br>"
          else {
            content += `<p>${i}</p>`
          }
        }
      }
      bodyPreview.innerHTML = content
      titlePreview.innerHTML = titleInput.value.split("/").at(-1)
    }

    window.latestSetTimeoutFromForm = window.setTimeout(() => {
      let bodyInput = document.getElementById("article-body-input")
      let titleInput = document.getElementById("article-title-input")

      bodyInput.addEventListener('input', updatePreview)
      titleInput.addEventListener('input', updatePreview)
      updatePreview()
    }, 500)

    beforeVisitHandler = (e)=>{
      if (e.explicitOriginalTarget.tagName.toLowerCase() === "a" && !window.confirm("This page may have unsaved changes :3. Continue?")) {
        e.preventDefault()
      } else {
        window.removeEventListener('turbo:before-visit', window.beforeVisitHandler)
        window.clearTimeout(latestSetTimeoutFromForm)
      }
    }

    formBeforeLoadHandler = () => {
      let bodyInput = document.getElementById("article-body-input")
      let titleInput = document.getElementById("article-title-input")

      if (bodyInput === null || titleInput === null) {
        // we are not on a form page - this is just firing because we set it up to
window.removeEventListener('turbo:load', formBeforeLoadHandler)
        window.removeEventListener('turbo:before-visit', window.beforeVisitHandler)
        } else {
        bodyInput.addEventListener('input', updatePreview)
        titleInput.addEventListener('input', updatePreview)
        window.addEventListener('turbo:before-visit', beforeVisitHandler)
      }
    }

    window.addEventListener('turbo:load', formBeforeLoadHandler)
  </script>
</div>
