<nav id="sidebar">
  <details>
    <summary>Blog</summary>
    <span>
      <%= 
      raw(generate_tree_from_article_list(Article.order(:title).all, article))
    %>
      <div class="border"></div>
      <li><%= link_to "Guestbook", guestbook_index_path %></li>
      <% if request.path == guestbook_index_path %>
        <li><%= link_to "New Entry", new_guestbook_path %></li>
      <% end %>
      <% if current_user %>
        <% if article && article.id %>
          <li> <%= link_to "Edit", edit_article_path(article) %> </li>
          <li><%= link_to "Destroy", article_path(article), data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure you want to delete this article (#{article.title})?"
                        } %></li>
        <% end %>
        <li><%= link_to "New Article", new_article_path %></li>
        <li><%= link_to "Uploads", uploads_path %></li>
        <% if request.path == uploads_path %>
          <li><%= link_to "New Upload", new_upload_path %></li>
        <% end %>
        <li><%= link_to 'Log Out', logout_path, data: {
                          turbo_method: :get,
                          turbo_confirm: "Are you sure you want to log out, #{current_user.name}?"
                        } %></li>
      <% else %>
        <li><%= link_to 'Login', login_path %></li>
      <% end %>
      <script defer>
        {
          let current_article = document.getElementById("current-article-link")
          if (current_article) {
            let parentNode = current_article.parentNode
            while (parentNode) {
              parentNode.open = "true"
              parentNode = parentNode.parentNode
            }
          }
        }
      </script>
    </span>
  </details>
</nav>
