<% @title="Uploads Index" %>
<div class="upload-index">
  <div class="container">
    <% @uploads.each do |upload| %>
      <div class="upload-blurb">
        <div class="title">
          ![<%= upload.title %>]
        </div>
        <div class="file-content">
          <% if upload.content.blob.nil? %>
            <div class="error">
              <p>Blob not found</p>
            </div>
          <% end %>
          <a href="<%= upload.content.url %>" title="<%= upload.content.blob&.filename %>" target="_blank">View/download</a>
        </div>
        <div class="description">
          <%= upload.description %>
        </div>
        <% if upload.content.image? %>
          <% if upload.content.blob.nil? %>
            <div class="error">
              <p>Blob not found</p>
            </div>
          <% end %>
          <% begin %>
            <div class="image-content">
              <img src="<%= url_for(upload.content.variant(resize_to_limit: [200, 200])) %>"/>
            </div>
          <% rescue ActiveStorage::InvariableError %>
            <div class="image-content">
              <p>Invariable</p>
              <a href="<%= upload.content.url %>" target="_blank" title="<%= upload.content.blob&.filename %>">View/download</a>
            </div>
            <% end %>
          
        <% end %>
        <div class="destroy-link">
          <%= link_to "Destroy", upload_path(upload), data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure you want to delete this upload (#{upload.title})?"
                        } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
