<!DOCTYPE html>
<html>
  <head>
    <title>Eliza.nz - <%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "articles/header"%>
    <%= render 'shared/music_player' %>
    <div id="page">
      <%= render "articles/sidebar_left", article: @sidebar_article %>
      <%= yield %>
      <%= render "articles/sidebar_right" %>
    </div>
  </body>
</html>
