<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Klara - <%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script defer>
      // Base scripts for all things to have :3

      async function getArticles() {
        let response = await fetch("/articles_json")
        window.articles = JSON.parse(await response.text())
      }

      function getContentFromString(input, removeRaw) {
        let content = ""
        let mode = ""

        let uploadMatches = Array.from(input.matchAll(/src\=.?\!\[(.*)\]/g))
        for (let j of uploadMatches) {
          input = input.replace(new RegExp(`\\!\\[${j[1]}\\]`, "g"), `/uploads/view/${j[1]}`)
        }

        if (removeRaw) {
          input = input.replaceAll(/```[^]*```/mg, "")
        }

        for (let i of input.split("\n")) {
          if (i.startsWith("```")) {
            i = i.slice(3)
            if (mode == "raw_html") {
              mode = ""
            }
            else {
              mode = "raw_html"
            }
          }
          if (mode == "raw_html") {
            content += i
          } else {
            if (i.startsWith("######"))
              content += `<h6>${i.slice(6)}</h6>`
            else if (i.startsWith("#####"))
              content += `<h5>${i.slice(5)}</h5>`
            else if (i.startsWith("####"))
              content += `<h4>${i.slice(4)}</h4>`
            else if (i.startsWith("###"))
              content += `<h3>${i.slice(3)}</h3>`
            else if (i.startsWith("##"))
              content += `<h2>${i.slice(2)}</h2>`
            else if (i.startsWith("#"))
              content += `<h1>${i.slice(1)}</h1>`
            else if (i.startsWith("*"))
              content += `<ul><li>${i.slice(1)}</li></ul>`
            else if (i.startsWith("_"))
              content += `<p>${i.slice(1)}</p><div class="border"></div>`
            else if (i == "")
              content += "<br>"
            else {
              content += `<p>${i}</p>`
            }
          }
        }
        return content
      }
    </script>
  </head>
  <body>
    <div class="site-container">
      <%= render 'shared/music_player' %>
      <%= render "articles/header"%>
      <div id="page">
        <%= image_tag "left-cloud.png", id: "left-cloud" %>
        <%= image_tag "right-cloud.png", id: "right-cloud" %>
        <%= image_tag "right-flowers.png", id: "right-flowers" %>
        <%= image_tag "thebream-cropped.png", id: "bream" %>
        <%= render "articles/sidebar", article: @sidebar_article %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
