<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
    <!-- SCM Music Player https://www.scmplayer.net -->
    <% if Rails.env != "development" %>
      <script type="text/javascript" src="https://eliza.nz/static-nginx/script.js" 
    data-config="{'skin':'skins/scmGreen/skin.css','volume':50,'autoplay':true,'shuffle':false,'repeat':1,'placement':'top','showplaylist':false,'playlist':[{'title':'Witches - Alice Pheobe Lou','url':'https://www.youtube.com/watch?v=JuklRMZj7CA'},{'title':'The Boy with the Thorn in his Side - The Smiths','url':'https://youtu.be/FUsMxUjk-zQ?si=klrqiv0_EuG2CiYY'},{'title':'The Man Who Sold The World - David Bowie','url':'https://www.youtube.com/watch?v=u3MX-rUtS6M'},{'title':'Loving Machine - TV Girl','url':'https://www.youtube.com/watch?v=5tpQaCAq6Qc'},{'title':'Long Haired Lady - Paul and Linda McCartney','url':'https://www.youtube.com/watch?v=zS_gPZ0aSLM'},{'title':'End of a Century - Blur','url':'https://youtu.be/c3h_dqnAQ5k?si=64xFfZrmrOmj0M8x'},{'title':'Are Friends Electric - Gary Numan ','url':'https://www.youtube.com/watch?v=1snv-0jCiWY'},{'title':'Be Sweet - Japanese Breakfast','url':'https://www.youtube.com/watch?v=2ZfcZEIo6Bw'},{'title':'Those Eggs aren%27t Dippy - Jack Stauber','url':'https://www.youtube.com/watch?v=-eXrCdl9pHQ'},{'title':'I Don%27t Wanna Be Funny Anymore - Lucy Dacus','url':'https://www.youtube.com/watch?v=lpXyMNMMzRY'},{'title':'Outdoor Miner - Wire','url':'https://youtu.be/jrwNkcVZOs4?si=a8aF3it9POGdw26F'},{'title':'Bothersome - Jack Stauber','url':'https://youtu.be/dXpiVcL0tv4?si=KjD5X_c5EQPFT-Jo'},{'title':'Congratulations - MGMT','url':'https://www.youtube.com/watch?v=cB7IAXrCkO8'},{'title':'Husband House - Sneaky Feelings','url':'https://www.youtube.com/watch?v=okYMUMEYQVo'},{'title':'Heartbeats - The Knife','url':'https://www.youtube.com/watch?v=pPD8Ja64mRU'},{'title':'Are We Still Friends - Tyler the Creator','url':'https://www.youtube.com/watch?v=Gb76TgCUqAY '}]}" ></script>
    <% end %>
    <!-- SCM Music Player script end -->
  </body>
</html>
