<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FEM - <%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if @title %> 
      <meta name="title" content="<%= @title %>">
    <% end %>
    <% if @description %> 
      <meta name="description" content="<%= @description[0..120]... %>">
    <% end %>
    <% if !@keywords %> 
      <meta name="keywords" content="webring, transgender, transfem, fem, community">
    <% else %>
      <meta name="keywords" content="<%= @keywords %>">
    <% end %>
  </head>
  <body>
    <div class="site-container">
      <%= render 'shared/music_player' %>
      <%= render "articles/header"%>
      <div id="page">
        <%= render "articles/sidebar", article: @sidebar_article %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
